*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
body{ 
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box{
    border: 1px solid black;
    background-color: grey;
    display: flex;
    justify-content:center;
    border-radius: 20px;
    width: 320px;
    height: 350px;

}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

input , button{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    

}
button{
    cursor: pointer;
}


/* Extra */

.inputData{
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
}

.task-container{
    display: flex;
    flex-direction: column;
    gap:3px;

    max-height: 240px;
    overflow-y: auto;
}

.task-item{
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.delete-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
